/*- - - - - Styles - - - - - */
* {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
    border: unset;
    outline: unset;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    background-image: linear-gradient(to right, #F2E2DC, #F2DFBB, #AB8BD9);
    
}

/*- - - - - Styles Font - - - - - */

h1{
    font-family: micro 5;
    font-size: 60px;
    color: #7350BF;
}

p{
    font-family: Concert One;
    font-size: 17px;
    color: #7350BF;
}

li{
    font-family: Concert One;
    font-size: 17px;
    color: #7350BF 
}

/*- - - - - Nav bar - - - - - */


/*- - - - - Jumbotron - - - - - */

.cd{
animation-name: cd_animation;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes cd_animation {
    0% {
    transform: rotateZ(0deg);
    }
    100% {
    transform: rotateZ(360deg);
    }
}